# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: Python Code Data
author: metadsl

# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: cache
  allow_errors: False
  # Increase timeout to five minutes
  timeout: 300

# Information about where the book exists on the web
repository:
  url: https://github.com/metadsl/python-code-data # Online location of your book
  path_to_book: docs # Optional path to your book, relative to the repository root
  branch: main # Which branch of the repository should be used when creating links (optional)

# https://jupyterbook.org/en/stable/interactive/thebe.html#activate-thebe
launch_buttons:
  thebe: true

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true

sphinx:
  extra_extensions:
    # - autoapi.extension
    - "sphinx.ext.autodoc"
    - "sphinx.ext.intersphinx"
    # - sphinx_autodoc_typehints
  config:
    # https://sphinx-autoapi.readthedocs.io/en/latest/reference/config.html
    # autoapi_type: python
    # # autoapi_python_use_implicit_namespaces: true
    # autoapi_dirs: [../code_data]
    # autoapi_ignore: ["*_test.py", "*/_test_minimized/*"]
    # autoapi_file_patterns:
    #   - "__init__.py"
    # autoapi_add_toctree_entry: false
    # autoapi_keep_files: true
    # https://sphinx-autoapi.readthedocs.io/en/latest/how_to.html#how-to-include-type-annotations-as-types-in-rendered-docstrings

    autodoc_typehints: description
    # # https://github.com/tox-dev/sphinx-autodoc-typehints#options
    # # always_document_param_types: true
    # # typehints_defaults: comma

    autodoc_member_order: "bysource"
    # autodoc_type_aliases:
    #   ConstantValue: code_data.ConstantValue
    # EllipsisType: types.EllipsisType
    intersphinx_mapping:
      python:
        - https://docs.python.org/3
        -
